# Игнорировать временные файлы
*.log
*.tmp
*.swp
*.DS_Store

# Игнорировать виртуальные окружения
venv/
.env/

# Игнорировать файлы конфигурации IDE
main.py
1.py
info.txt

# Исключить node_modules
node_modules/

# Исключить git
.git/
.gitignore

# Исключить системные папки
__pycache__/
